/* Global Fonts
================================================== */
$font: 'Quicksand', sans-serif;
$font-extra: 'Raleway', sans-serif;

/* Global Borders
================================================== */
$border: 1px solid rgba(86, 61, 124, .2);

/* Global Colors
================================================== */
  $white          : #fff;
  $black          : #000;

  $dark-blue      : #070E2A;
  $purple         : #283061;

  $pink           : #E42D66;
  $pink2          : #B6194B;
  $dark-pink      : #581133;



  $yellow         : #e4a81d;
  $blue-green     : #01e08f;


$light-grey       : #e9ecef;
$norm-grey        : rgba(86, 61, 124, .2);
$dark-grey        : rgb(53, 49, 72);

$primary-color    : $dark-blue;
$secondary-color  : $yellow;

$text-color       : $dark-blue;

$transparent      : rgba(0, 0, 0, .0);


/* SIDEBAR Colors
================================================== */
$sidebar-bg                   : $dark-blue;
$sidebar-logo-color           : $white;
$sidebar-social-color         : $dark-blue;
$sidebar-social-hover-color   : $dark-pink;


/* NAVIGATION Colors
================================================== */
$nav-link-color               : $dark-blue;
$nav-link-hover-color         : $pink2;
$nav-link-active-color        : $pink2;


/* WRAPPER Colors
================================================== */
$wrapper-bg                   : #e4a81d;


/*scrollbar in wrapper*/
$scrollbar-bg                 : $secondary-color;
$scrollbar-thumb              : $dark-blue;
$scrollbar-thumb-hover        : $black;
