/* Global Fonts
================================================== */
$font: 'Quicksand', sans-serif;
$font-extra: 'Raleway', sans-serif;

/* Global Borders
================================================== */
$border: 1px solid rgba(86, 61, 124, .2);

/* Global Colors
================================================== */
  $white          : #fff;
  $black          : #000;

  $dark-blue      : #070E2A;
  $purple         : #283061;

  $pink           : #E42D66;
  $pink2          : #B6194B;
  $dark-pink      : #581133;



  $yellow         : #FEDC75;
  $blue-green     : #01e08f;


$light-grey       : #e9ecef;
$norm-grey        : rgba(86, 61, 124, .2);
$dark-grey        : rgb(53, 49, 72);

$primary-color    : $dark-blue;
$secondary-color  : $pink;

$text-color       : $dark-blue;

/*gardients*/



/* SIDEBAR Colors
================================================== */
$sidebar-bg                   : $dark-blue;
$sidebar-logo-color           : $white;
$sidebar-social-color         : $dark-blue;
$sidebar-social-hover-color   : $dark-pink;


/* NAVIGATION Colors
================================================== */
$nav-link-color               : $dark-blue;
$nav-link-hover-color         : $pink2;
$nav-link-active-color        : $pink2;


/* WRAPPER Colors
================================================== */
$wrapper-bg                   : $dark-blue;


/*scrollbar in wrapper*/
$scrollbar-bg                 : $secondary-color;
$scrollbar-thumb              : $dark-blue;
$scrollbar-thumb-hover        : $black;

/* AUDIO Colors
================================================== */

$musicplayer-cover-bg                   : $dark-blue;
$musicplayer-cover-color                : #e4a81d;
$musicplayer-controlls-bg               : rgba(0,0,0, 0.5);
$musicplayer-controlls-color            : #e4a81d;
$musicplayer-controlls-hover-color      : $dark-pink;

$musicplayer-tracker-bg                 : #fff;
$musicplayer-tracker-border-color       : #fff;
$musicplayer-tracker-progressbar-bg     : $purple;
$musicplayer-tracker-progress-bg        : rgba(0,0,0, 0.25);

$musicplayer-tracker-duration-color     : #e4a81d;

$musicplayer-playlist-border-color      : #fff;
$musicplayer-playlist-bg                : #fff;
$musicplayer-playlist-color             : $purple;
$musicplayer-playlist-hover-bg          : rgba(0,0,0, 0.25);
$musicplayer-playlist-hover-color       : $purple;
$musicplayer-playlist-active-bg         : rgba(0,0,0, 0.25);
$musicplayer-playlist-active-color      : $white;
