

/* animation - Move to the left  */
@keyframes movefromleft {
    from {
      opacity: 0;
      left:-400px;
    }
    to {
      opacity: 1;
      left: 0px;
    }
}

/* animation - Move from the top  */
@keyframes movefromtop {
    from {
      opacity: 0;
      top:-200px;
    }
    to {
      opacity: 1;
      top: 0px;
    }
}

/** MIXIN gardients **/
  @mixin gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4a81d+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(228,168,29,1) 75%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(228,168,29,1)75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(228,168,29,1) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a81d', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
  @mixin gradient_m {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4a81d+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(228,168,29,1) 85%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(228,168,29,1)85%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(228,168,29,1) 85%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a81d', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
  @mixin gradient_s {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4a81d+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(228,168,29,1) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(228,168,29,1)90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(228,168,29,1) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a81d', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
