@import '_variables';
@import 'musicplayer';
@import 'keyframes';

/* Setup
================================================== */
body, html{
  min-width: 320px;
}

body{
  font-size: 100%;
  font-size: 1em;
  font-family: $font;
  position: relative;
  background-color: #e4a81d;
  /*background-image:
  linear-gradient(to right bottom, #e4a81d, #dd6132, #b6194b, $dark-blue);*/
}

/* scrollbar styling*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $scrollbar-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover;
}

h1, h2, h3, h4, h5, h6 { font-family: $font-extra;}

.hidden{
  visibility: hidden;
  display: none;
}

.visible{
  visibility: visible;
  display:  block;
}
/* Navigation
================================================== */
nav{
  float: left;
  width: 14%;
  height: 100%;
  background-color: #e4a81d;
  color: #070E2A;

  ul{
    margin: 0 auto 2em auto;
    font-family: $font-extra;
    font-weight: bold;
    font-size: 1.2em;

    li{
      margin: 2em 0 1em 0;

      a{
        display: block;
        width: 100%;
        cursor: pointer;
        color: #070E2A;

        &:hover{
          color: $nav-link-hover-color;
          text-decoration: none;
        }

        &.active{
          color: $nav-link-active-color;
        }
      }
    }
  }
}

/* Sidebar
================================================== */

  /* @include  horizontal-gradient($dark-pink, $dark-blue);
   background-image:
   linear-gradient(to right bottom, #e4a81d, #e58424, #dd6132, #ce3d3f, #b6194b, #070E2A);
*/

  #logo{
    width: 12em;
    height: 6em;
    position: fixed;
    top: 2em;
    left: 4em;
    background: url('../img/_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
  }

  #socialLinks{
    position: fixed;
    top: 1em;
    right: 4em;
    width: 13em;
    margin: 2em auto;
    color: $sidebar-social-color;
    font-size: 1.2em;
    z-index: 999;

     span{
       padding: 0 0.45em;
       cursor: pointer;

       &:hover{
         color: $sidebar-social-hover-color;
       }
     }
  }

 /* Wrapper - Container
 ================================================== */
#wrapper{
  height: 100%;
  width: 100%;
  float:left;


    section{
        padding: 12em 18em;
        height: 100%;
        color: $text-color;
        background: $wrapper-bg;

        .headline{
          width: auto;
          opacity: 1;
          position: relative;
          top: 0px;
          font-family: $font-extra;
        }

            //page-section PRODUCER
            &#about{
              width: 100%;
              font-family: $font;
              font-size: 1.2em;
              line-height: 1.8em;

              .text{
                width: auto;
                opacity: 1;
                position: relative;
                left: 0px;
              }
            }

            //page-section WORK
            &#portfolio{
                span{
                  width: auto;
                  display: inline-block;
                  margin: 0 1em 0 0;
                  line-height: 2em;
                  text-align: center;
                  font-size: 1.4em;
                  font-weight: bold;
                }
            }

          &#contact{

             form{
               margin: 2em 0 1em 0;

               .form-control{
                 border-radius: 0;
               }

              .btn-primary{
                background-color: hotpink;
                border-color: transparent;
                border-radius: 0;
                width: 8em;

                &:hover{
                  background-color: tomato;
                }
              }
            }
          }

//when scroll then animation
&.page-section{
  &.section{
    &.active{
      .headline{
      }
    }
  }
}
        }

      &#audio{
        height: 100%;
        background: #fff;
        width: 30%;
      }

  } // wrapper end

/* media queries
================================================== */

@media (max-width: 1400px) {


}

@media (max-width: 960px) {

  .onepage-pagination{
    left: 1em;
  }

  #wrapper{

    section{
      padding: 12em 4em 2em 4em;
    }
  }

}
