@import '_variables';

#musicPlayer{
  width: 25em;
  height: 40em;
  margin:10em auto 0 auto;
  position: absolute;
  left: -6em;
  background: $white;
  box-shadow: 0 0em 1em 0.1em rgba(0,0,0, 0.5);

  #coverBlock{
    position: relative;
    height: auto;

      .cover{
        position: relative;
        background: $musicplayer-cover-bg;
        box-shadow: 0 0em 1em 0.1em rgba(0,0,0, 0.5);
        width: 10em;
        height: 10em;
        margin: 4em auto 2em auto;
        background-size: cover;
        border-radius: 100%;
      }

      .tracker{
        position: absolute;
        top: -16px;
        left: 26%;
        background: transparent;
        width: 12em;
        height: 12em;
        border-radius: 100%;
        border: 0.15em solid #d2d2d2;
      }

        p{
          float: left;
          width: 100%;
          color: $musicplayer-cover-color;
          text-align: center;

          &.title{
            font-size: 1.6em;
            font-weight: bold;
            margin: 0 0 0 0;
          }
          &.artist{
            margin-bottom: 1em;
          }
        }

      #controls{
        height: auto;
        width: 100%;
        padding: 0.5em 0 0.5em 0;
        text-align: center;

        button{
          color: $musicplayer-controlls-color;
          border: none;
          background: none;
          font-size: 1.4em;
          margin: 0 .5em 0 .5em;

          &:hover{
            cursor: pointer;
            color: $musicplayer-controlls-hover-color;
          }
        }
      }

}

#volumeControl{
  height: 2em;
  width: 100%;

    #volume{
      background: #545454;
      height: 1px;
      -webkit-appearance: none !important;

      &::-webkit-slider-thumb{

      }
    }
}

#tracker{
  width: 100%;
  height: 3em;
  padding: 1em 1em;
  background: $musicplayer-tracker-bg;
  /*border: 2px solid $musicplayer-tracker-border-color;*/
  border-top: none;
  border-bottom: none;

  #progressbar{
    width: 80%;
    height:0.5em;
    background: $musicplayer-tracker-progressbar-bg;
    border-radius: 0.25em;
    float:left;

    #progress{
      height:0.5em;
      border-radius: 0.25em;
      width:0;
      background: $musicplayer-tracker-progress-bg;
      display: inline-block;
    }
  }

  #duration{
    float: right;
    color: $musicplayer-tracker-duration-color;
  }
}

  #playlist{
    background: $musicplayer-playlist-bg;
    /*border: 2px solid $musicplayer-playlist-border-color;*/
    border-top: none;
    color: $musicplayer-playlist-color;

    ul{
      list-style-type: none;
      padding: 0 0 0 0;

      li{
        /*border-bottom: 1px solid #999;*/
        padding: 0.5em 0 0.5em 2em;
        cursor: pointer;

        &.active{
          font-weight: bold;
          background: $musicplayer-playlist-active-bg;
          color:$musicplayer-playlist-active-color;

          &:before{
            content: "\e924";
            font-family: 'icons';
            position: absolute;
            left: 12px;
          }

          &:after{
            content: "\e900";
            font-family: 'icons';
            position: absolute;
            right: 1em;
          }
        }

        &:hover{
          background: $musicplayer-playlist-hover-bg;
          color: $musicplayer-playlist-hover-color;
        }

        &:before{
          content:"\e916";
          font-family: 'icons';
          position: absolute;
          left: 12px;
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}


/* media queries
================================================== */

@media (max-width: 1400px) {
  #musicPlayer {
    left: -3em;
  }
}

@media (max-width: 960px) {

  #musicPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6em;

    #coverBlock{
      .cover{
        background-image: none;
        .insideCover{
          display: none;
        }
        p{
          width:auto;
          &.artist {
              margin: 0em;
          }
          &.title {
              margin: 0em;
          }
        }
      }
    }

    #playlist{
      display: none;
    }
  }

}
