@import '_variables';

#musicPlayer{
  min-width: 320px;
  width: 100%;
  height: 8em;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $musicplayer-cover-bg;
  color: $musicplayer-controlls-color;

      #controls{
        height: auto;
        width: 100%;
        padding: 1em 0 0 0;
        text-align: center;

        span{
          font-size: 1.6em;
          margin: 0 0.5em 0 0;

          &:hover{
            color: #c2c2c2;
          }
        }

        // play-stop
        .amplitude-play-pause{
          &.amplitude-playing{
            &:before{
              content:"\e924";
              font-family: 'icons';
            }
          }
          &.amplitude-paused{
            &:before{
              content:"\e922";
              font-family: 'icons';
            }
          }

          // mute
          &.amplitude-mute{
            &:before{
              content:"\e935";
              font-family: 'icons';
            }
          }
        }
      }

      #coverBlock{
        text-align: center;
        margin: 1em 0 0 0;
        font-family: $font-extra;
      }

      #player-progress-bar-container{
        #song-played-progress{
          width: 100%;
          height: 0.5em;
          background: #000;
        }
      }

      #time-container{
        font-family: $font;
        font-size: 1em;

          .amplitude-current-time{
            float:left;
            margin: 0 0 0 1em;
          }
          .amplitude-duration-time{
            float:right;
            margin: 0 1em 0 0;
          }
      }

      #volume-container{
        position: absolute;
        left: 1em;
        top: 4em;

        .amplitude-mute{
          &.amplitude-not-muted{
            &:before{
              content:"\e934";
              font-family: 'icons';
            }
          }
          &.amplitude-muted{
            &:before{
              content:"\e935";
              font-family: 'icons';
            }
          }
        }
        .amplitude-volume-slider{
          -webkit-appearance: none;
          height: 1px;
        }
      }

}

/*PLAYLIST
================================================== */
#playlist{
  display: block;
  position: relative;
  background: none;
  /*border: 2px solid $musicplayer-playlist-border-color;*/
  border-top: none;
  color: $musicplayer-playlist-color;

  .song{
    font-family: $font;
    border-bottom: 1px solid #000;
    cursor: pointer;
    width: 100%;
    float: left;

    &:hover{
      background: rgba(0,0,0, 0.15);
    }

    .song-number-now-playing{
      float: left;
      margin: 0 1em 0 0;
      line-height: 3em;
      min-width: 1em;
    }

    .song-meta-container{
      float: left;
      margin: 0 1em 0 0;

      .song-name{
        margin: 0 1em 0 0;
        font-family: $font-extra;
        line-height: 3em;
        display: block;
        float: left;
        min-width: 14em;
      }
      .song-artist-album{
        line-height: 3em;

        span{
          margin: 0 0.5em 0 0;
          line-height: 3em;
          display: block;
          float: left;
        }
      }
    }

    .song-duration{
      margin: 0 0 0 2em;
      line-height: 3em;
    }

    .number{display: block;}
    .icon-play{ display: none;}
    .icon-pause{ display: none;}

    .amplitude-current-time{ display: none;}
    .amplitude-duration-time{ display: block;}

  &.amplitude-active-song-container{

    &.amplitude-paused{
      .number{ display: none;}
      .icon-play{ display: none;}
      .icon-pause{
        display: block;
        line-height: 3em;
        min-width: 1em;
      }
    }

    &.amplitude-playing{
      .number{ display: none;}
      .icon-pause{ display: none;}
      .icon-play{
        display: block;
        line-height: 3em;
        min-width: 1em;
      }
    }

    .amplitude-current-time{ display: block;}
    .amplitude-duration-time{ display: none;}
  }

  }

}

/* media queries
================================================== */

@media (max-width: 1400px) {

}

@media (max-width: 960px) {

#musicPlayer{
  height: 6em;

  #coverBlock {
    width:100%;

    .cover{
      display: none;
    }
    p{
      text-align: center;
      margin: 0;

      &.title{
        font-size: 0.98em;
        width: 100%;
        margin: 0;
      }
      &.artist{
        font-size: 0.8em;
        width: 100%;
      }
    }
  }

  #controls{
    padding: 0;

    button{
      font-size:1.2em;
    }
  }

  #time-container{
    font-size: 0.79em;
  }

 }
}
