/* Global Fonts
================================================== */
/* Global Borders
================================================== */
/* Global Colors
================================================== */
/* SIDEBAR Colors
================================================== */
/* NAVIGATION Colors
================================================== */
/* WRAPPER Colors
================================================== */
/*scrollbar in wrapper*/
/* animation - Move to the left  */
@keyframes movefromleft {
  from {
    opacity: 0;
    left: -400px; }
  to {
    opacity: 1;
    left: 0px; } }

/* animation - Move from the top  */
@keyframes movefromtop {
  from {
    opacity: 0;
    top: -200px; }
  to {
    opacity: 1;
    top: 0px; } }

/** MIXIN gardients **/
/* Setup
================================================== */
body, html {
  min-width: 320px;
  min-height: 100%;
  background-color: #e4a81d; }

body {
  font-size: 100%;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  position: relative;
  background-color: #e4a81d;
  /*background-image:
  linear-gradient(to right bottom, #e4a81d, #dd6132, #b6194b, $dark-blue);*/ }

/* scrollbar styling*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #e4a81d; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #070E2A; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

a {
  text-decoration: none;
  color: #581133; }

.hidden {
  visibility: hidden;
  display: none; }

.visible {
  visibility: visible;
  display: block; }

/* Navigation
================================================== */
nav {
  float: left;
  width: 14%;
  height: 100%;
  background-color: #e4a81d;
  color: #070E2A; }
  nav ul {
    margin: 0 auto 2em auto;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.2em; }
    nav ul li {
      margin: 2em 0 1em 0; }
      nav ul li a {
        display: block;
        width: 100%;
        cursor: pointer;
        color: #070E2A; }
        nav ul li a:hover {
          color: #B6194B;
          text-decoration: none; }
        nav ul li a.active {
          color: #B6194B; }

/*  Header
================================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4a81d+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top, #e4a81d 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e4a81d 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e4a81d 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a81d', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  z-index: 999;
  /*  Logo
  ================================================== */
  /* Social Links
    ================================================== */
  /* Menu - mobile
      ================================================== */ }
  header #logo {
    display: block;
    width: 12em;
    height: 6em;
    position: absolute;
    top: 2em;
    left: 4em;
    background: url("../img/_logo.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  header #socialLinks {
    display: block;
    position: absolute;
    top: 1em;
    right: 4em;
    width: 13em;
    margin: 2em auto;
    color: #070E2A;
    font-size: 1.2em;
    z-index: 999; }
    header #socialLinks a {
      color: #000; }
      header #socialLinks a:hover {
        text-decoration: none; }
      header #socialLinks a span {
        padding: 0 0.45em;
        cursor: pointer; }
        header #socialLinks a span:hover {
          color: #E42D66; }
  header #mobileMenu {
    display: none; }
    header #mobileMenu .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.89);
      padding: 4em 1em 1em 2em; }
      header #mobileMenu .menu.active {
        display: block; }
      header #mobileMenu .menu .icon-cross {
        color: #fff;
        position: absolute;
        top: 1em;
        right: 1em; }
      header #mobileMenu .menu a {
        color: #fff;
        width: 100%;
        display: block;
        line-height: 2em; }
      header #mobileMenu .menu #socialLinks {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        margin: 4em 0 0 0;
        color: #fff;
        font-size: 0.8em; }
        header #mobileMenu .menu #socialLinks a {
          color: #fff;
          display: inline;
          z-index: 999999; }

/* Wrapper - Container
================================================== */
#wrapper {
  height: 100%;
  width: 100%;
  min-width: 320px;
  float: left;
  background: #e4a81d; }
  #wrapper section {
    padding: 12em 18em;
    color: #070E2A;
    background: #e4a81d; }
    #wrapper section .headline {
      width: auto;
      position: relative;
      top: 0px;
      font-family: "Raleway", sans-serif;
      opacity: 0; }
    #wrapper section .text {
      opacity: 0; }
    #wrapper section a {
      color: #E42D66; }
      #wrapper section a:hover {
        color: #581133; }
    #wrapper section#about {
      width: 100%;
      font-family: "Quicksand", sans-serif;
      font-size: 1.2em;
      line-height: 1.8em; }
      #wrapper section#about .text {
        width: auto;
        opacity: 0;
        position: relative;
        left: 0px; }
    #wrapper section#portfolio span {
      width: auto;
      display: inline-block;
      margin: 0 1em 0 0;
      line-height: 2em;
      text-align: center;
      font-size: 1.4em;
      font-weight: bold; }
    #wrapper section#portfolio article {
      margin: 2em 0 0 0; }
      #wrapper section#portfolio article h4 {
        font-family: "Raleway", sans-serif; }
        #wrapper section#portfolio article h4:before {
          font-family: 'icons';
          content: '\e906';
          margin-right: 0.5em; }
      #wrapper section#portfolio article a {
        font-family: "Quicksand", sans-serif;
        font-size: 0.89em;
        text-decoration: none;
        color: #000;
        display: inline-block;
        width: 100%;
        margin: 0.5em 0 0 0; }
        #wrapper section#portfolio article a:before {
          font-family: 'icons';
          content: '\e90b';
          width: 1em; }
        #wrapper section#portfolio article a:hover {
          color: #fff; }
    #wrapper section#contact form {
      margin: 2em 0 1em 0; }
      #wrapper section#contact form .form-control {
        border-radius: 0; }
      #wrapper section#contact form .btn-primary {
        background-color: black;
        border-color: transparent;
        border-radius: 0;
        width: 8em; }
        #wrapper section#contact form .btn-primary:hover {
          background-color: grey; }
    #wrapper section#contact .info {
      margin: 4em 0; }
      #wrapper section#contact .info .impress {
        font-size: 1.2em;
        margin: 0 0 2em 0;
        cursor: pointer; }
        #wrapper section#contact .info .impress:hover {
          font-weight: bold; }
      #wrapper section#contact .info a {
        font-size: 0.89em;
        margin: 2em 0 0 0; }
    #wrapper section#impress h1 {
      font-family: "Raleway", sans-serif; }
    #wrapper section#impress p {
      font-family: "Quicksand", sans-serif; }

/* media queries
================================================== */
@media (max-width: 1400px) {
  #wrapper section {
    padding: 12em 8em; } }

@media (max-width: 960px) {
  .onepage-pagination {
    left: 1em !important; }
  header {
    height: 8em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4a81d+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, #e4a81d 85%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4a81d 85%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4a81d 85%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a81d', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */ }
    header #logo {
      width: 9em;
      height: 5em;
      top: 1em;
      left: 4em; }
    header #socialLinks {
      margin: 0 auto; }
  #wrapper section {
    padding: 8em 4em 2em 4em; }
    #wrapper section .headline {
      font-size: 1.4em; }
    #wrapper section .text {
      font-size: 1em; }
    #wrapper section#portfolio span {
      font-size: 1em;
      margin: 0 0.5em 0 0;
      line-height: 1em; }
    #wrapper section#portfolio h4 {
      font-size: 1.4em; }
    #wrapper section#portfolio article a {
      font-size: 0.89em;
      margin: 0.15em 0 0 0;
      text-indent: 0; } }

@media (max-width: 640px) {
  header {
    height: 6em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4a81d+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, #e4a81d 90%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4a81d 90%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4a81d 90%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a81d', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */ }
    header #logo {
      left: 2em;
      top: 1em; }
    header #socialLinks {
      display: none; }
    header #mobileMenu {
      display: block;
      position: fixed;
      top: 1em;
      right: 1em;
      font-size: 2em;
      cursor: pointer;
      z-index: 9; }
      header #mobileMenu ul {
        padding: 0;
        list-style-type: none; }
  .onepage-pagination {
    left: 0.25em !important; }
  #wrapper section {
    padding: 7em 2em 6em 2em; }
    #wrapper section .headline {
      font-size: 1.2em; }
    #wrapper section .text {
      font-size: 0.8em;
      line-height: 1.4em; }
    #wrapper section#portfolio article a {
      text-indent: -14px; } }
