/* Global Fonts
================================================== */
/* Global Borders
================================================== */
/* Global Colors
================================================== */
/*gardients*/
/* SIDEBAR Colors
================================================== */
/* NAVIGATION Colors
================================================== */
/* WRAPPER Colors
================================================== */
/*scrollbar in wrapper*/
/* AUDIO Colors
================================================== */
#musicPlayer {
  min-width: 320px;
  width: 100%;
  height: 8em;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }
  #musicPlayer #controls {
    height: auto;
    width: 100%;
    padding: 1em 0 0 0;
    text-align: center; }
    #musicPlayer #controls span {
      font-size: 1.6em;
      margin: 0 0.5em 0 0; }
      #musicPlayer #controls span:hover {
        color: #c2c2c2; }
    #musicPlayer #controls .amplitude-play-pause.amplitude-playing:before {
      content: "\e924";
      font-family: 'icons'; }
    #musicPlayer #controls .amplitude-play-pause.amplitude-paused:before {
      content: "\e922";
      font-family: 'icons'; }
    #musicPlayer #controls .amplitude-play-pause.amplitude-mute:before {
      content: "\e935";
      font-family: 'icons'; }
  #musicPlayer #coverBlock {
    text-align: center;
    margin: 1em 0 0 0;
    font-family: "Raleway", sans-serif; }
  #musicPlayer #player-progress-bar-container #song-played-progress {
    width: 100%;
    height: 0.5em;
    background: #000; }
  #musicPlayer #time-container {
    font-family: "Quicksand", sans-serif;
    font-size: 1em; }
    #musicPlayer #time-container .amplitude-current-time {
      float: left;
      margin: 0 0 0 1em; }
    #musicPlayer #time-container .amplitude-duration-time {
      float: right;
      margin: 0 1em 0 0; }
  #musicPlayer #volume-container {
    position: absolute;
    left: 1em;
    top: 4em; }
    #musicPlayer #volume-container .amplitude-mute.amplitude-not-muted:before {
      content: "\e934";
      font-family: 'icons'; }
    #musicPlayer #volume-container .amplitude-mute.amplitude-muted:before {
      content: "\e935";
      font-family: 'icons'; }
    #musicPlayer #volume-container .amplitude-volume-slider {
      -webkit-appearance: none;
      height: 1px; }

/*PLAYLIST
================================================== */
#playlist {
  display: block;
  position: relative;
  background: none;
  /*border: 2px solid $musicplayer-playlist-border-color;*/
  border-top: none;
  color: #283061; }
  #playlist .song {
    font-family: "Quicksand", sans-serif;
    border-bottom: 1px solid #000;
    cursor: pointer;
    width: 100%;
    float: left; }
    #playlist .song:hover {
      background: rgba(0, 0, 0, 0.15); }
    #playlist .song .song-number-now-playing {
      float: left;
      margin: 0 1em 0 0;
      line-height: 3em;
      min-width: 1em; }
    #playlist .song .song-meta-container {
      float: left;
      margin: 0 1em 0 0; }
      #playlist .song .song-meta-container .song-name {
        margin: 0 1em 0 0;
        font-family: "Raleway", sans-serif;
        line-height: 3em;
        display: block;
        float: left;
        min-width: 14em; }
      #playlist .song .song-meta-container .song-artist-album {
        line-height: 3em; }
        #playlist .song .song-meta-container .song-artist-album span {
          margin: 0 0.5em 0 0;
          line-height: 3em;
          display: block;
          float: left; }
    #playlist .song .song-duration {
      margin: 0 0 0 2em;
      line-height: 3em; }
    #playlist .song .number {
      display: block; }
    #playlist .song .icon-play {
      display: none; }
    #playlist .song .icon-pause {
      display: none; }
    #playlist .song .amplitude-current-time {
      display: none; }
    #playlist .song .amplitude-duration-time {
      display: block; }
    #playlist .song.amplitude-active-song-container.amplitude-paused .number {
      display: none; }
    #playlist .song.amplitude-active-song-container.amplitude-paused .icon-play {
      display: none; }
    #playlist .song.amplitude-active-song-container.amplitude-paused .icon-pause {
      display: block;
      line-height: 3em;
      min-width: 1em; }
    #playlist .song.amplitude-active-song-container.amplitude-playing .number {
      display: none; }
    #playlist .song.amplitude-active-song-container.amplitude-playing .icon-pause {
      display: none; }
    #playlist .song.amplitude-active-song-container.amplitude-playing .icon-play {
      display: block;
      line-height: 3em;
      min-width: 1em; }
    #playlist .song.amplitude-active-song-container .amplitude-current-time {
      display: block; }
    #playlist .song.amplitude-active-song-container .amplitude-duration-time {
      display: none; }

/* media queries
================================================== */
@media (max-width: 960px) {
  #musicPlayer {
    height: 6em; }
    #musicPlayer #coverBlock {
      width: 100%; }
      #musicPlayer #coverBlock .cover {
        display: none; }
      #musicPlayer #coverBlock p {
        text-align: center;
        margin: 0; }
        #musicPlayer #coverBlock p.title {
          font-size: 0.98em;
          width: 100%;
          margin: 0; }
        #musicPlayer #coverBlock p.artist {
          font-size: 0.8em;
          width: 100%; }
    #musicPlayer #controls {
      padding: 0; }
      #musicPlayer #controls button {
        font-size: 1.2em; }
    #musicPlayer #time-container {
      font-size: 0.79em; } }
