/* Global Fonts
================================================== */
/* Global Borders
================================================== */
/* Global Colors
================================================== */
/*gardients*/
/* SIDEBAR Colors
================================================== */
/* NAVIGATION Colors
================================================== */
/* WRAPPER Colors
================================================== */
/*scrollbar in wrapper*/
/* AUDIO Colors
================================================== */
#musicPlayer {
  min-width: 320px;
  width: 100%;
  height: 8em;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff; }
  #musicPlayer #coverBlock {
    position: absolute;
    top: 1px;
    width: auto;
    height: auto;
    /*.tracker{
        position: absolute;
        top: -16px;
        left: 26%;
        background: transparent;
        width: 12em;
        height: 12em;
        border-radius: 100%;
        border: 0.15em solid #d2d2d2;
      }*/ }
    #musicPlayer #coverBlock .cover {
      position: relative;
      background: #000;
      width: 4em;
      height: 4em;
      margin: 1.5em 1em 0 4em;
      background-size: cover;
      float: left; }
    #musicPlayer #coverBlock p {
      width: 60%;
      float: left;
      color: #fff;
      text-align: left;
      margin: 0; }
      #musicPlayer #coverBlock p.title {
        font-size: 1.2em;
        font-weight: bold;
        margin: 1.5em 0 0 0; }
  #musicPlayer #controls {
    height: auto;
    width: 100%;
    padding: 2em 0 1em 0;
    text-align: center; }
    #musicPlayer #controls button {
      color: #e4a81d;
      border: none;
      background: none;
      font-size: 1.6em;
      margin: 0 .5em 0 .5em; }
      #musicPlayer #controls button:hover {
        cursor: pointer;
        color: #581133; }
  #musicPlayer #volumeControl {
    height: 2em;
    width: 100%; }
    #musicPlayer #volumeControl #volume {
      background: #545454;
      height: 1px;
      -webkit-appearance: none !important; }
  #musicPlayer #tracker {
    width: 45%;
    height: 3em;
    padding: 1em 1em;
    margin: 0 auto;
    /*border: 2px solid $musicplayer-tracker-border-color;*/
    border-top: none;
    border-bottom: none;
    position: relative; }
    #musicPlayer #tracker #progressbar {
      width: 100%;
      height: 0.5em;
      background: #283061;
      border-radius: 0.25em;
      float: left; }
      #musicPlayer #tracker #progressbar #progress {
        height: 0.5em;
        border-radius: 0.25em;
        width: 0;
        background: rgba(0, 0, 0, 0.25);
        display: inline-block; }
    #musicPlayer #tracker #duration {
      position: absolute;
      top: 8px;
      right: -2em;
      float: right;
      color: #e4a81d; }

/*PLAYLIST
================================================== */
#playlist {
  display: block;
  position: relative;
  background: none;
  /*border: 2px solid $musicplayer-playlist-border-color;*/
  border-top: none;
  color: #283061; }
  #playlist ul {
    list-style-type: none;
    padding: 0 0 0 0; }
    #playlist ul li {
      /*border-bottom: 1px solid #999;*/
      padding: 0 0 0em 2em;
      line-height: 3em;
      cursor: pointer; }
      #playlist ul li.active {
        font-weight: bold;
        background: rgba(0, 0, 0, 0.25);
        color: #fff; }
        #playlist ul li.active:before {
          content: "\e924";
          font-family: 'icons';
          position: absolute;
          left: 12px; }
        #playlist ul li.active:after {
          content: "\e900";
          font-family: 'icons';
          position: absolute;
          right: 1em; }
      #playlist ul li:hover {
        background: rgba(0, 0, 0, 0.25);
        color: #283061; }
      #playlist ul li:before {
        content: "\e916";
        font-family: 'icons';
        position: absolute;
        left: 12px; }
      #playlist ul li:last-child {
        border-bottom: none; }

/* media queries
================================================== */
@media (max-width: 960px) {
  #musicPlayer {
    height: 6em; }
    #musicPlayer #coverBlock {
      width: 100%; }
      #musicPlayer #coverBlock .cover {
        display: none; }
      #musicPlayer #coverBlock p {
        text-align: center;
        margin: 0; }
        #musicPlayer #coverBlock p.title {
          font-size: 0.98em;
          width: 100%;
          margin: 0; }
        #musicPlayer #coverBlock p.artist {
          font-size: 0.8em;
          width: 100%; }
    #musicPlayer #controls {
      padding: 3em 0 0 0; }
      #musicPlayer #controls button {
        font-size: 1.2em; }
    #musicPlayer #tracker {
      width: 100%;
      top: -11px; }
      #musicPlayer #tracker #duration {
        top: -6px;
        right: 1em;
        float: right;
        font-size: 0.8em; } }
