/* Global Fonts
================================================== */
/* Global Colors
================================================== */
/*borders*/
/* Setup
================================================== */
body, html {
  min-width: 320px; }

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 4em;
  color: #303030; }

/* HEADER
================================================== */
header {
  position: fixed;
  width: 50%;
  height: auto;
  padding: 1em;
  background: #bd607c;
  color: #fff; }
  header span {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.4em; }
  header i {
    float: right;
    cursor: pointer; }
    header i:hover {
      color: #e9ecef; }
  header #navContent.open {
    display: block;
    visibility: visible;
    height: 10em;
    animation: open 2s; }

@keyframes open {
  from {
    height: 0; }
  to {
    height: 10em; } }
  header #navContent.close {
    display: none;
    visibility: hidden;
    height: 2em;
    animation: close 2s; }

@keyframes close {
  from {
    height: 10em; }
  to {
    height: 0; } }

/* Wrapper - Container
================================================== */
#wrapper {
  background: #fff;
  min-height: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  color: #303030; }
  #wrapper section {
    width: 75%;
    margin: 0 auto; }
    #wrapper section#header {
      text-align: right;
      padding: 1em 0 1em 0; }
      #wrapper section#header h1 {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 700;
        font-size: 8em;
        color: #303030;
        line-height: 0.75em; }
      #wrapper section#header p {
        margin: 0.5em 0; }
    #wrapper section#container h2 {
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 700; }
    #wrapper section#container #experience:before {
      content: "";
      width: 0.25em;
      height: 80%;
      position: absolute;
      left: 0;
      top: 2em;
      background: rgba(86, 61, 124, 0.2); }
    #wrapper section#container #experience .row {
      position: relative; }
      #wrapper section#container #experience .row:before {
        content: "";
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        left: -2px;
        top: 12px;
        background: #bd607c;
        border-radius: 100%; }
      #wrapper section#container #experience .row .date {
        color: #bd607c;
        font-size: 1.2em; }
      #wrapper section#container #experience .row .work {
        color: #303030;
        font-size: 1.4em; }
      #wrapper section#container #experience .row .city {
        color: #bd607c;
        font-size: 0.59em;
        margin: 0 0 1em 0; }
        #wrapper section#container #experience .row .city i {
          font-size: 0.5em;
          margin: 0 0.5em 0 0; }
    #wrapper section#container .bar {
      width: 100%;
      background: rgba(86, 61, 124, 0.2);
      margin: 0 0 0.5em 0; }
      #wrapper section#container .bar .skill {
        background: #bd607c;
        color: #fff;
        padding: 0 0 0 0.5em; }
        #wrapper section#container .bar .skill.html {
          width: 100%; }
        #wrapper section#container .bar .skill.css {
          width: 100%; }
        #wrapper section#container .bar .skill.sass {
          width: 90%; }
        #wrapper section#container .bar .skill.js {
          width: 80%; }
    #wrapper section#container .compentences {
      margin: 1em 0; }
      #wrapper section#container .compentences i {
        font-size: 1.8em;
        color: #303030;
        margin: 0 0.5em 0 0; }
    #wrapper section#container .circle {
      width: 6em;
      height: 6em;
      float: left;
      border: 6px solid #bd607c;
      border-radius: 100%;
      padding: 1em;
      margin: 0 0.5em 0 0;
      line-height: 3em;
      text-align: center;
      color: #bd607c; }
    #wrapper section#container #interests div i {
      width: auto;
      height: auto;
      background: #e9ecef;
      padding: 0.5em;
      font-size: 2.4em;
      color: #303030; }
