/* Global Fonts
================================================== */
/* Global Colors
================================================== */
/*
$light-grey : #e9ecef;
$norm-grey  : rgba(86, 61, 124, .2);
$dark-grey  : #343a40;

$primary-color: rgb(48, 48, 48);
$secondary-color: rgb(189, 96, 124);
*/
/*borders*/
/* Setup
================================================== */
body, html {
  min-width: 320px; }

body {
  font-size: 100%;
  font-size: 1em; }
  @media (max-width: 960px) {
    body {
      padding-top: 4em; } }

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 4em;
  color: #303030; }
  @media (max-width: 960px) {
    h1 {
      font-size: 50%; } }

/* HEADER
================================================== */
header {
  position: fixed;
  top: 0;
  width: 50%;
  height: auto;
  padding: 1em;
  background: #bd607c;
  color: #fff; }
  @media screen and (max-width: 960px) {
    header {
      width: 100%; } }
  header span {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.4em; }
  header i.arrow {
    position: absolute;
    right: 1em;
    bottom: 2em;
    cursor: pointer; }
    header i.arrow:hover {
      color: #e9ecef; }
  header #navContent {
    height: 12em;
    display: none; }

/* Wrapper - Container
================================================== */
#wrapper {
  background: #fff;
  min-height: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  color: #303030; }
  #wrapper section {
    width: 75%;
    margin: 0 auto; }
    @media (max-width: 960px) {
      #wrapper section {
        width: 90%; } }
    #wrapper section#header {
      text-align: right;
      padding: 1em 0 1em 0; }
      #wrapper section#header h1 {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 700;
        font-size: 8em;
        color: #303030;
        line-height: 0.75em; }
        @media (max-width: 960px) {
          #wrapper section#header h1 {
            font-size: 6em; } }
        @media (max-width: 320px) {
          #wrapper section#header h1 {
            font-size: 3em; } }
      #wrapper section#header p {
        margin: 0.5em 0; }
    #wrapper section#container h2 {
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 700; }
    #wrapper section#container #experience:before {
      content: "";
      width: 0.25em;
      height: 80%;
      position: absolute;
      left: 0;
      top: 2em;
      background: rgba(86, 61, 124, 0.2); }
    #wrapper section#container #experience .row {
      position: relative; }
      #wrapper section#container #experience .row:before {
        content: "";
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        left: -2px;
        top: 12px;
        background: #bd607c;
        border-radius: 100%; }
      #wrapper section#container #experience .row .date {
        color: #bd607c;
        font-size: 1.2em; }
      #wrapper section#container #experience .row .work {
        color: #303030;
        font-size: 1.4em; }
      #wrapper section#container #experience .row .city {
        color: #bd607c;
        font-size: 0.59em;
        margin: 0 0 1em 0; }
        #wrapper section#container #experience .row .city i {
          font-size: 0.5em;
          margin: 0 0.5em 0 0; }
    #wrapper section#container .bar {
      width: 100%;
      background: rgba(86, 61, 124, 0.2);
      margin: 0 0 0.5em 0; }
      #wrapper section#container .bar .skill {
        background: #bd607c;
        color: #fff;
        padding: 0 0 0 0.5em; }
        #wrapper section#container .bar .skill.html {
          width: 100%; }
        #wrapper section#container .bar .skill.css {
          width: 100%; }
        #wrapper section#container .bar .skill.sass {
          width: 90%; }
        #wrapper section#container .bar .skill.js {
          width: 80%; }
    #wrapper section#container .compentences {
      margin: 1em 0; }
      #wrapper section#container .compentences i {
        font-size: 1.8em;
        color: #303030;
        margin: 0 0.5em 0 0; }
    #wrapper section#container .circle {
      width: 6em;
      height: 6em;
      float: left;
      border: 6px solid #bd607c;
      border-radius: 100%;
      padding: 1em;
      margin: 0 0.5em 0 0;
      line-height: 3em;
      text-align: center;
      color: #bd607c; }
    #wrapper section#container #interests div i {
      width: auto;
      height: auto;
      background: #e9ecef;
      padding: 0.5em;
      font-size: 2.4em;
      color: #303030; }
